/* src/App.css */
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

.App {
  text-align: center;
}

/* Hero Section */
.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #333, #555), ;
  color: #220eda;
  padding: 20px;
}

.hero h1 {
  font-size: 48px;
  margin: 0;
}

.hero p {
  font-size: 18px;
  margin-top: 10px;
}

/* About Section */
.about {
  padding: 40px 20px;
  background-color: #f9f9f9;
}

.about h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.about p {
  font-size: 16px;
  line-height: 1.6;
}

/* Music Showcase */
.music-showcase {
  padding: 40px 20px;
  background-color: #000000;
}

.music-showcase h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

/* Events Section */
.events {
  padding: 40px 20px;
  background-color: #f0f0f0;
}

.events h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.events ul {
  list-style-type: none;
  padding: 0;
}

.events li {
  font-size: 16px;
  margin-bottom: 5px;
}

/* Contact Section */
.contact {
  padding: 40px 20px;
  background-color: #fff;
}

.contact h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.contact a {
  color: #ff6347;
  text-decoration: none;
  margin: 0 10px;
}

.contact a:hover {
  text-decoration: underline;
}

/* Footer */
.footer {
  padding: 20px;
  background-color: #222;
  color: #fff;
  font-size: 14px;
}
