body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

.App {
  text-align: center;
}

/* Hero Section */
.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(60, 5, 75);
  
  padding: 10vh;
  width: 100vh;
}

.hero h1 {
  font-size: 48px;
  margin: 0;
}

.hero p {
  font-size: 18px;
  margin-top: 10px;
}

/* About Section */
.about {
  padding: 40px 20px;
  background-color: #f9f9f9;
}

.about h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.about p {
  font-size: 16px;
  line-height: 1.6;
}

/* Music Showcase */
.music-showcase {
  padding: 40px 20px;
  background-color: #000000;
}

.music-showcase h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

/* Events Section */
.events {
  padding: 40px 20px;
  background-color: #f0f0f0;
}

.events h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.events ul {
  list-style-type: none;
  padding: 0;
}

.events li {
  font-size: 16px;
  margin-bottom: 5px;
}

/* Contact Section */
.contact {
  padding: 40px 20px;
  background-color: #fff;
}

.contact h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.contact a {
  color: #ff6347;
  text-decoration: none;
  margin: 0 10px;
}

.contact a:hover {
  text-decoration: underline;
}

/* Footer */
.footer {
  padding: 20px;
  background-color: #222;
  color: #fff;
  font-size: 14px;
}

/* Media Queries for Mobile Screens */
@media (max-width: 768px) {
  /* Hero Section */
  .hero {
    height: auto;
    padding: 40px 20px;
  }

  .hero h1 {
    font-size: 32px; /* Smaller font size for mobile */
  }

  .hero p {
    font-size: 16px; /* Adjust font size for mobile */
    margin-top: 10px;
  }

  /* About Section */
  .about h2 {
    font-size: 28px; /* Adjust heading size for mobile */
  }

  .about p {
    font-size: 14px; /* Adjust paragraph size for mobile */
  }

  /* Music Showcase */
  .music-showcase h2 {
    font-size: 28px; /* Adjust heading size for mobile */
  }

  /* Events Section */
  .events h2 {
    font-size: 28px; /* Adjust heading size for mobile */
  }

  .events li {
    font-size: 14px; /* Adjust list item size for mobile */
  }

  /* Contact Section */
  .contact h2 {
    font-size: 28px; /* Adjust heading size for mobile */
  }

  .contact a {
    font-size: 14px; /* Adjust link size for mobile */
  }

  /* Footer */
  .footer {
    font-size: 12px; /* Adjust footer font size for mobile */
  }
}
